{% extends "base.html" %}
{% load humanize %}
{% load bootstrap4 %}

{% block content %}
<title>{% block head_title %}{{article.title}}{% endblock head_title %}</title>
<div class="container-fluid col-lg-7 mt-2">
    <div class="card">
        <h3 class="card-header">
            <a href={{article.get_all_articles_url}}>{{article.title}}</a>
            <small>
                - Published: {{ article.date_added|naturaltime }}&nbsp;
                by {{article.author|title}},&nbsp;
                Category:&nbsp;
                {% for category in article.category.all %}
                <a href="{% url 'src:article-category' category.name %}">
                    {{ category.name }}</a>&nbsp;
                {% endfor %}
            </small>
        </h3>
        <div class="card-body">
            <p>{{ article.description |safe }}</p>
        </div>
        <div class="col">
            <h4>Leave a comment:</h4>
            <form hx-encoding='multipart/form-data' hx-post="." hx-target="body">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary col mb-2" type="submit">Submit comment</button>
            </form>

            <h5>Comments:</h5>
            {% for comment in comments %}
            <p>&nbsp;<span class="text-primary">{{ comment.name | title}} </span> {{comment.date_commented|naturaltime }}
            </p>
            <p>{{ comment.body }}</p>
            <hr>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock content %}