{% extends 'base.html' %}
{% load humanize %}

{% block head_title %}{{category}}{% endblock %}

{% block content %}


<div class="container-fluid mt-2">
    <small>
        <center><h5>Category: {{category}}</h5></center>
    </small>
    <hr>
    <div class="row mx-auto ">
        {% for product in products %}
        {% if product.in_stock %}
        {% include 'src/snippets/list_products.html' %}
        {% endif %}
        {% empty %}
        <div class="container mt-3 col-lg-12">
            <div class="card mb-2">
                <div class="card-header">
                    <p class="order text-info">No products in that category.</p>
                    <a class="float-left btn btn-sm btn-info" href="{% url 'src:home' %}">Go back to Homepage</a>
                </div>
            </div>

            {% endfor %}
        </div>
        <hr/>

    </div>
    {% include 'src/snippets/category_pagination.html' %}
</div>

{% endblock content %}
