<nav class="navbar bottom navbar-dark bg-dark mt-2">
    <div class="container-fluid">

        <div class="navbar-brand col">
            &copy;<script>document.write(new Date().getFullYear());</script>

        </div>
        <!-- Social icons -->
        <div class="navbar nav">
            <a href="https://twitter.com/erastus_nzula?ref_src=twsrc%5Etfw" target="_blank" class="nav-link">
                <i class="btn btn-sm btn-primary fab fa-twitter"></i>
            </a>
            <a href="https://github.com/erastusnzula" target="_blank" class="nav-link">
                <i class="btn btn-sm btn-primary fab fa-github"></i>
            </a>
        </div>

        {% comment %}
        <a href="#" target="_blank" class="nav-link">
            <i class="btn btn-sm btn-primary fab fa-facebook-f mr-3"></i>
        </a>
        <a href="#" target="_blank" class="nav-link">
            <i class="btn btn-sm btn-primary fab fa-youtube mr-3"></i>
        </a>

        <a href="#" target="_blank">
            <i class="btn btn-sm btn-primary fab fa-google-plus-g mr-3"></i>
        </a>
        <a href="#" target="_blank">
            <i class="btn btn-sm btn-info fab fa-dribbble mr-3"></i>
        </a>

        <a href="#" target="_blank">
            <i class="btn btn-sm btn-info fab fa-pinterest mr-3"></i>
        </a>


        <a href="#" target="_blank">
            <i class="btn btn-sm btn-primary fab fa-codepen mr-3"></i>
        </a>
        {% endcomment %}

        <!-- Social icons -->

    </div>
</nav>
