{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% load widget_tweaks %}



<div class="container col-lg-9">
  <h5 class="pb-2 mb-2 border-bottom">{% trans "Change Password" %}</h5>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% include 'account/snippets/form_snippet.html' %}
        <button class="btn btn-sm btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        <a class="btn btn-sm btn-info" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
